*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
body{
    background-color: #0F172A;

}
/* app stilos */

#app{
    width: 100%;
    height: 100%;
 }
.header{
    width: 100%;
    background-color:#15204A;
    display: flex;
    justify-content: flex-end;
    overflow: none;
    z-index: 1;
}

.menu{
    display: flex;
    list-style: none;
}

.opciones_menu{
    margin: 5px;
}

.botones_menu{
    border: none;
    color: rgb(192, 220, 231);
    padding: 5px;
    background: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.botones_menu:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.volver{
    display: none;
    border: none;
    color: rgb(192, 220, 231);
    padding: 5px;
    background: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.volver:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* campeones */

.campeones_cont{
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    padding: 15px;
}

.img_perfil_campeon{
    width: 75px;
    cursor: pointer;
}

/* Buscador */

.cont_invocador{
    display: grid;
    grid-template-columns: 50% 50%;
}


.perfil_cont{
    width: 100%; 
    grid-column: 1 ;
}

.buscador_cont{
    display: flex;
    justify-content: space-around;
    width: 255px;
    height: 15px;
    border-radius: 30px;
    padding: 15px;
    background-color: WHITE;
    margin: 15px;
}
.buscador{
    border: none;
    color: rgb(182, 182, 182);
    background: none;
    z-index: 2;
}

.buscar{
    border: none;
    background: none;
    color: blue;
    font-weight: bold;
    cursor: pointer;  
    z-index: 2;
}

/* historial de partidas */

.cont_historial{
    height: 500px;
    margin-bottom: 15px;
    overflow-y: scroll;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    grid-row: 2;
    grid-column: 1;
}
.cont_stats_wrapper {
    grid-column: 2;
    grid-row: 2;
    position: sticky;
    top: 0;
}
.abrir_stats{
    border: none;
    background: none;
    color: rgba(255, 255, 255, 0.39);
    font-weight: light;
    cursor: pointer;
    grid-row: 2;
    grid-column: 6;
}
.stats_header{
    display: flex;
    flex-direction: column;
    color: #E2E8F0;
    font-size: small;
    gap: 10px;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.cont_stats{
    display: none;
    gap: 10px;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    grid-row: 2;
    grid-column: 2;
}
.cont_stats.visible{
    display: flex;
    align-items: center;    
    justify-items: center; 
}

.stats_grafico{
    background-color: #15204A;
    border: 2px solid rgb(33, 120, 136);
    border-radius: 3px;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .cont_historial {
    scrollbar-width: none;
    scrollbar-color: #81e7ff #ffffff;
  }

  /* Chrome, Edge, and Safari */
  .cont_historial::-webkit-scrollbar {
    width: 16px;
  }

  .cont_historial::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .cont_historial::-webkit-scrollbar-thumb {
    background-color: #81e7ff;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

.cont_partida{
    display: grid;
    grid-template-columns: 100px 80px 100px 180px 80px 80px 80px;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 3px 0 0 3px;
    background-position-x: 50%;
    background-position-y: 20%;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    box-shadow: 200px 1px 195px -25px rgba(0,0,0,0.93) inset;
    -webkit-box-shadow: 200px 1px 195px -25px rgba(0,0,0,0.93) inset;
    -moz-box-shadow: 200px 1px 195px -25px rgba(0,0,0,0.93) inset;
}

.img_partida_campeon{
    width: 85px;
    height: 100%;
    object-fit: cover;
    border-radius: 3px 0 0 3px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campeon_partida{
    margin-left: 15px;
    color: #E2E8F0;
    font-family: Arial, Helvetica, sans-serif;
}

.minutos_partida{
    margin-left: 15px;
    color: #E2E8F0;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2px;
    font-size: small;
}

.kda{
    margin-left: 15px;
    color: #E2E8F0;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2px;
}

.queue_mode{
    color: #E2E8F0;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.estado_partida{
    margin-top: 2px;
    margin-left: 15px;
    font-weight: bold;
}

.linea_jugador{
    color: #E2E8F0;
    margin-left: 15px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.minions_asesinados{
    color: #E2E8F0;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* perfil invocador */

.perfil_header{

    display:grid;

    grid-template-columns:
        180px
        1fr
        300px;

    align-items:center;
    padding:20px;
}

.perfil_icono{
    position: relative;
    width:110px;
    height:110px;
}

.icono_invocador{
    width:100%;
    height:100%;
    position:absolute;
    left: 5px;
    top: 5px;
}

.borde{
    width: 100%;
    height: 100%;
    position:absolute;
    border:5px solid rgb(33,120,136);
    border-radius: 3px;
}

.nivel{
    color: wheat;
    position:absolute;
    bottom:-10px;
    left:50%;
    transform:translateX(-50%);
    background-color:#15204A;
    border: 2px solid rgb(33, 120, 136);
    border-radius: 3px;
    width: 30px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    
}

.perfil_info{
    display:flex;
    flex-direction:column;
    gap:5px;
    grid-row: 1;
    grid-column: 2;
}

.perfil_rango{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap: 5px;
}
.tier_img_cont{
    display: flex;
    align-items: center;
    border-radius: 50%;
}
.img_tier{
    width: 300px;
    scale: calc(3);
    object-fit: cover;
}

.invocador{
    color: rgb(215, 215, 215);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.rank{
    color: white;
    font-size: small;
    font-weight: bold;
}


.lp{
    color: white;
}

.wins_losses{
    color: white;
    font-size: small;
}

/*Runas*/

.runas_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 2;
}
.runas_primarias_img{
    width: 50px;
    height: 50px;
}

/*Hechizos*/

.summoner_img_cont{
    display: flex;
    flex-direction: column;
}

.summoner{
    width: 25px;
    margin: 2px;
}

/*Items*/

.items_cont{
    display: grid;
    grid-template-columns: repeat(8, 25px);
    gap: 3px;
    justify-items: center;
    grid-row: 2;
    grid-column: 1 / span 2;
}

.item_img{
    width: 25px;
    object-fit: contain;
}


/*maestria*/

.cont_principales{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    align-items: center;
    grid-column: 2 / span 2;
}

.cont_campeon_maestria{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;

}

.img_maestria{
    width: 100px;
    border-radius: 50%;
    border: 1px solid rgba(183, 14, 14, 0.75);
    box-shadow: -1px 1px 25px 0px rgba(168, 10, 10, 0.75);
    -webkit-box-shadow: -1px 1px 25px 0px rgba(168,10,10,0.75);
    -moz-box-shadow: -1px 1px 25px 0px rgba(168,10,10,0.75);
}

.nombre_campeon{
    color: white;
}

.puntos_maestria{
    color: white;
}
.top-1{
    grid-row: 1;
    grid-column: 2;
}

.top-1 img{
    width: 150px;
    border: 1px solid rgba(203, 24, 24, 0.75);
    box-shadow: -1px 1px 25px 0px rgba(255, 55, 0, 0.75);
    -webkit-box-shadow: -1px 1px 25px 0px rgba(255, 55, 0, 0.75);
    -moz-box-shadow: -1px 1px 25px 0px rgba(255, 55, 0, 0.75);
}