*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
body{
    background-color: #0F172A;

}
/* app stilos */

#app{
    width: 100%;
    height: 100%;
 }
.header{
    width: 100%;
    background-color:#15204A;
    display: flex;
    justify-content: flex-end;
    overflow: none;
}

.menu{
    display: flex;
    list-style: none;
}

.opciones_menu{
    margin: 5px;
}

.botones_menu{
    border: none;
    color: rgb(192, 220, 231);
    padding: 5px;
    background: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.botones_menu:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.volver{
    display: none;
    border: none;
    color: rgb(192, 220, 231);
    padding: 5px;
    background: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.volver:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* campeones */

.campeones_cont{
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    padding: 15px;
}

.img_perfil_campeon{
    width: 75px;
    cursor: pointer;
}

/* Buscador */

.cont_invocador{
    width: 100%;
    
}

.buscador_cont{
    display: flex;
    justify-content: space-around;
    width: 255px;
    height: 15px;
    border-radius: 30px;
    padding: 15px;
    background-color: WHITE;
    margin: 15px;
}
.buscador{
    border: none;
    color: rgb(182, 182, 182);
    background: none;
}

.buscar{
    border: none;
    background: none;
    color: blue;
    font-weight: bold;
    cursor: pointer;  
}

/* historial de partidas */

.cont_historial{
    width: 50%;
    height: 400px;
    overflow-y: scroll;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .cont_historial {
    scrollbar-width: none;
    scrollbar-color: #81e7ff #ffffff;
  }

  /* Chrome, Edge, and Safari */
  .cont_historial::-webkit-scrollbar {
    width: 16px;
  }

  .cont_historial::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .cont_historial::-webkit-scrollbar-thumb {
    background-color: #81e7ff;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

.cont_partida{
    display: grid;
    grid-template-columns: repeat(7, auto)
    ;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    border-radius: 3px 0 0 3px;
}

.img_partida_campeon{
    width: 85px;
}

.info{
}

.campeon_partida{
    margin-left: 15px;
    color: #E2E8F0;
    font-family: Arial, Helvetica, sans-serif;
}

.minutos_partida{
    margin-left: 15px;
    color: #E2E8F0;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2px;
    font-size: small;
}

.kda{
    margin-left: 15px;
    color: #E2E8F0;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2px;
}

.queue_mode{
    color: #E2E8F0;
}

.estado_partida{
    margin-top: 2px;
    margin-left: 15px;
    font-weight: bold;
}

.linea_jugador{
    color: #E2E8F0;
    margin-left: 15px;
}

.minions_asesinados{
    color: #E2E8F0;
    margin-left: 15px;
    font-weight: bold;
}

/* perfil invocador */

.perfil_cont{
    width: 100%;
    
    
}
.perfil_header{

    display:grid;

    grid-template-columns:
        180px
        1fr
        300px;

    align-items:center;
    align-content: center;
    padding:20px;
}

.perfil_icono{
    position: relative;
    width:110px;
    height:110px;
}

.icono_invocador{
    width:100%;
    height:100%;
    position:absolute;
    left: 5px;
    top: 5px;
}

.borde{
    width: 100%;
    height: 100%;
    position:absolute;
    border:5px solid rgb(33,120,136);
    border-radius: 3px;
}

.nivel{
    color: wheat;
    position:absolute;
    bottom:-10px;
    left:50%;
    transform:translateX(-50%);
    background-color:#15204A;
    border: 2px solid rgb(33, 120, 136);
    border-radius: 3px;
    width: 30px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    
}

.perfil_info{
    display:flex;
    flex-direction:column;
    gap:5px;
    grid-row: 1;
    grid-column: 2;
}

.perfil_rango{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap: 5px;
}
.tier_img_cont{
    display: flex;
    align-items: center;
    border-radius: 50%;
}
.img_tier{
    width: 300px;
    scale: calc(3);
    object-fit: cover;
}

.invocador{
    color: rgb(215, 215, 215);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.rank{
    color: white;
    font-size: small;
    font-weight: bold;
}


.lp{
    color: white;
}

.wins_losses{
    color: white;
    font-size: small;
}

/*Runas*/

.runas_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.runas_primarias_img{
    width: 50px;
}

/*Hechizos*/

.summoner_img_cont{
    display: flex;
    justify-content: center;
}

.summoner{
    width: 25px;
    margin: 2px;
}